@{
    ViewBag.Title = "Home1";
}

<div class="container">
    <h1>Welcome to FitFormula</h1>
    <p>Your personalized calorie tracker.</p>
    <a href="/Home/Details" class="btn btn-primary">Go to Details</a>
</div>
